

.header-div{

    background-color: cornflowerblue;
    display: block;
    height:200px;
    width: 100%;
    border-radius: 25px;


}

.header-div img{width:100px;float:left;}

.header-div-name{float:left;}



.footer-div{

    background-color: cornflowerblue;
    display: block;
    height:100px;
    width: 100%;
    border-radius: 25px;


}