.body{
    margin: auto;
    width: 60%;
    font-size: 15px;
    font-family: 'Nunito Sans', 'Calibri', 'Veranda';
}

#content{

    margin: 0 auto 0 auto;


}

header{

    background-color: rgb(69, 112, 190);
    margin: 0 auto 0 auto;
    width: auto;
    border-radius: 25px;
    box-shadow: 2px 2px 5px #000;
    display: flex;
    justify-content:space-around;
    padding: 1%;

}



header img{
    width: 100px;
    height: 130;
}


h1{color: aliceblue;}

h2{ text-shadow: 2px 2px 5px black; text-align: center;}


main {
    display: block; 
    margin: 0 auto 0 auto;
    width: 50%;
    }


li {
    margin: 10px;
    }


footer{

    background-color: rgb(69, 112, 190);
    display: block;
    height:50px;
    width: 100%;
    border-radius: 25px;
    text-align: center;
    box-shadow: 2px 2px 5px #000;
    color: azure;   
    grid-template-columns: 1fr;


}

footer-text{
    padding: 2px;
    margin-top: 30px;
}



#currentdate{display: block;}