

.header-div{

    background-color: rgb(69, 112, 190);
    display: block;
    height:200px;
    width: 100%;
    border-radius: 25px;
    box-shadow: 2px 2px 5px #000;


}

.header-container{
    display: block; 
    margin: 0 auto 0 auto; 
    height: auto; 
    width: 500px;}

.header-div img{
    width:100px;
    float:left;
    display: block; 
    margin-right: 10px;
    margin-top: 30px;
    line-height: 200px;
    box-shadow: 2px 2px #000;
    }

.header-div-name{ height:100px;float:left; display: block; margin:0 auto 0 auto;}

.header-div-name h1{
    vertical-align: middle;
    line-height: 100px; 
    font-weight: bold; 
    color: azure;
    text-shadow: 2px 2px #000;}

h2{ text-shadow: 2px 2px 5px black;}


.content-div-content{
    display: block; 
    margin: 0 auto 0 auto;
    width: 400px;
    }


.footer-div{

    background-color: rgb(69, 112, 190);
    display: block;
    height:100px;
    width: 100%;
    border-radius: 25px;
    text-align: center;
    box-shadow: 2px 2px 5px #000;

}

.footer-div p{ margin-top: 10px; color: azure;}

#currentdate{display: block;}