  /* This goes in the LARGE CSS file */
  @media only screen and (min-width: 1024px) {

    span.container {
        grid-template-columns: 1fr 1fr 1fr; 
       
    }

    .item{ margin: 10px;}

    .item-content{ 
        background-color: rgb(218, 216, 233); 
        display: block; 
        padding: 10px; 
        text-align: justify; 
        

    }

    .item-tittle {  padding: 10px; text-align: center;}

    .item-tittle { 
        background-color:rgb(35, 36, 65); 
        color: whitesmoke; 
        position: relative; 
        display: block;
        border-radius:10px 10px 0px 0px;
    }

    footer, header { 
        background-color:rgb(35, 36, 65);  
        display: block; position: relative; 
        width: auto; 
        text-align: center;
        color:whitesmoke;
        padding: 3px;
    }

    


    }