

.header-block{ background-color: aqua; display: block; position: relative; width: auto;text-align: center;}

span.container{  
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
}

span.container {border: 1px grey solid;}

.footer-block{ background-color: aqua; display: block; position: relative; width: auto; text-align: center;}

/* This goes in the MEDIUM CSS file */
@media only screen and (min-width: 760px) {
    span.container span {grid-template-columns: 1fr 1fr;}
  }
  
  /* This goes in the LARGE CSS file */
  @media only screen and (min-width: 1024px) {

    span.container {grid-template-columns: 1fr 1fr 1fr;}

    .item1{background-color: chocolate;}

    .item2{background-color:lightseagreen;}

    .item3{background-color:darkolivegreen;}


     }

