/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;}
  
/*----------- apply a natural box layout model to all elements --------------*/
  * {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    --color-1: #e8ffc3;
    --color-2: #582406;
    --color-3: #5b884e;
    --color-4: #24411b;
    --color-5: #A7C957;
  }

body {
	font-size: 16px;
  font-family: 'Mulish';
	width: 100%;
  margin: 0; padding: 0;
}

h1, h2 {font-family: 'Open Sans', sans-serif;}

/*-------------------------HEADER-------------------------*/

header {
    display: flex; 
    justify-content: space-between;
    background-color: var(--color-2);
}
header img {width: 30px; }
header,nav, main, footer {padding: 0 6vw 0 6vw;}
.phone-contact, .mail-contact {display: none; font-size: 13px;}

/*-------------------------NAV-------------------------*/

nav .logo img {width: 150px; padding: 2%;} 

nav button {
  margin: .2rem 2vw;
  background-color: transparent;
  border: none;
  font-size: 2rem;
}

nav {
  display: flex; 
  justify-content: space-between;
  background-color: var(--color-1); 
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  padding-right: 140px;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
	display: none;
}

nav ul li a {
  display: block;
  color: rgb(29, 58, 16);
  text-decoration: none;
	padding: .1rem 0;
  font-size: 1rem;
  text-align: center;
}

nav a {}
nav ul li.active a {background-color: var(--color-4); color: #fff;}
nav ul li a:hover {background-color: var(--color-3);  color: black;}

nav ul.open {display: block;}

#hamburguerBtn span:nth-child(1) {display: block;}
#hamburguerBtn span:nth-child(2) {display: none;}

#hamburguerBtn.open span:nth-child(1) {display: none;}
#hamburguerBtn.open span:nth-child(2) {display: block;}

/*-----------------------------FOOTER-------------------------------*/


footer {
    display: grid;
    background-color: var(--color-1);
    justify-items: center;
}
footer .baseFooter {
    grid-row: 3;
    width: 100%; 
    border-top: 1px solid rgba(51, 51, 51, 0.306); 
    margin: auto; text-align: center;
}
footer .botones {grid-row: 2; display: block; padding-top: 2%;}
footer .contact {display: flex; margin-left: 20%;}
footer .logo {grid-row: 1; margin: auto;}
footer .logo img {width: 170px;} 
footer .botones img {width: 30px; }


/* --------------------------HOME PAGE---------------------------- */

main {padding: 1rem 0vw 1rem 0vw;}

h1 {text-align: center; margin: 1.5% auto ; color: var(--color-2);}

.drink-div {
    width: 80%;
    margin: 50px auto auto auto ;
    display: grid;
    text-align: center;
    align-items: center;
    padding: 2%;
}

.drink-div h2 {font-size: 20px; color: var(--color-2);}
.drink-div p {color: var(--color-2); font-size: 1.1em;}
.drink img {width: 50%; box-shadow: -5px -5 1px var(--color-4); border-radius: 10px;}
.arrow img{display: none;}

.buttonjuice  {
    text-decoration: none;
    background-color: var(--color-4);
    color: white;
    padding: 0.5rem;
    border: none;
    border-radius: 10px;
    font-family: 'Open Sans', sans-serif;
}
.buttonjuice:hover {
    background-color: var(--color-2);
    color: var(--color-3);
}

.home-info {
  display: grid;
  padding: 3%;
}

.home-info p{
  grid-row: 2;
  padding: 2%;
  background-color: var(--color-3);
  margin-bottom: 0;
}

.home-info img {
  max-width: 100%;
  margin: auto;
}

.rounded-corners {border-radius: 10px;}
.weather, .forecast-day {background-color: #e5e5e5;}

.weather-info {
  width: 100%; height: 50%; 
  display: flex;  
  justify-content: center; 
  align-items: center;
}
.weather-info{height: 20%;}
.weather-info h3 {font-size: 1.7rem;}

.weather-container {margin: auto; width: 90%; display: grid; text-align: center;}
.weather-container div{padding: 2%;}

div.forecast-day{margin: 2%; width: 100%;}
.weather-name p{margin: 0;}
.weather-name {margin: 2%;}


/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.mySlides {
  display: none;
}

.mySlides img{max-height: 350px;}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.text {
  color: white;
  font-size: 20px;
  padding: 8px 12px;
  position: absolute;
  bottom: 3px;
  width: 100%;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  background-color: #bc47499f;
}

/* .desc { }
.desc-btn { background-color: #BC4749;}*/
.text a {color: white;} 

.numbertext {
  color: white;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* --------------------------FRESH PAGE---------------------------- */


fieldset{margin-top: 5px; border: none; border-radius: 10px;}
legend {text-align: left; font-family: 'Open Sans', sans-serif; font-size: 25px; color:#313131}

.form-drink, .form-data {
	margin: auto;
	width: 70%;
	min-width: 350px;
	border-radius: 4px;
  background-color: #cdcdcd;
}

.top input, .top textarea, label.top{
	display: block;
	font-size: 13px;
	width: 100%;
	padding: 16px;
	border-radius: 4px;
}

.flavors {
  margin: auto;
  display: block;
  text-align: center;
  justify-content: center;
}
.flavors label {color: #582406; font-family: 'Mulish'; font-size: 15px;}
select#fruit1, select#fruit2, select#fruit3 {
   
  border: var(--color-2); padding: 2%; 
  border-radius: 5px;
}

.fruits-img {width: 100%; display: flex; text-align: center; padding: 2%;}
.fruits-img picture img {width: 80%; border-radius: 10px; text-align: center; margin: auto; justify-items: center;}

textarea#instructions {width: 100%;}
form input {border: 1px solid}
form label.top input:required {border-left: rgb(190, 121, 82) solid 6px;}
form label.top input:required:valid {border-left: rgb(202, 252, 202) solid 6px;}

.submitBtn{width: 100px; font-size: 18px; margin: 15px auto 15px 30px ; color: white;}

#form-output {display: none;}
.form-data {margin-top: 2rem; padding: 2%;}

/* --------------------------ABOUT US PAGE---------------------------- */

.aboutUs-main h2{color: #fff; text-align: center;}
.aboutUs-main h3{color: #fff; text-align: left;}
.logo-aboutUsPage{width: 60%; text-align: center; padding: 2%; margin: auto;  }

.aboutUs h1{text-align: left;}

.aboutUs p{text-align: justify;}

.info-aboutUs{width: 100%;display: grid;}
div .aboutUs{text-align: center; margin-top: 30px;}
.aboutUs p{margin: 40px;}
.cultivation{width: 100%;}

.site-purpose {
  grid-row: 1;
  width: 100%;
  padding: 0 5% 0 5%;
}
.contact-info{
  grid-row: 2;
  text-align: center;
  background-color: var(--color-3);
  width: 100%;
  padding: 2%;
  margin-top: 50px;
}
.contact-info a{color: black;}
.contact-info ul{list-style: none; padding: 0;}
iframe {margin-top: 1rem; max-width: 100%;}